.header {
  background-color: #121212;
  padding: 32px;
}

.nav a {
  display: inline-block;
  margin-right: 16px;

  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.content {
  background-color: #fff;
  padding: 64px 32px;
}

.footer {
  padding: 32px;
  background-color: #f2f2f2;
}

.footer ul {
  margin-top: 16px;
}
